body {
    margin: 0;
    font-family: sans-serif;
    padding: 0;
    background: url(../img/bg.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    box-sizing: border-box;
}

/* ESTILO DE MENU HORIZONTAL*/

#roomsH {
    width: 99.80%;
    background: #184ad4;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#btn-menu {
    display: none;
}

#roomsH label {
    display: block;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;
}

#roomsH label:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
}

.menu {
    position: absolute;
    background: #184ad4;
    width: 20%;
    margin-left: -70%;
    transition: all 1s;
}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.menu li {
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    text-align: center;
    flex-grow: 1;
}

.menu li:hover {
    background: rgba(0, 0, 0, 0.3);
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}

#btn-menu:checked~.menu {
    margin-left: 0%;
}

.table-users {
    position: relative;
    margin: auto;
}

/* estilo de todos los botones */

/* ESTILO DE TABLAS */

h1 {
    color: #e0e4ef;
    text-align: center;
    font-size: 3.75em;
}

table {
    align-content: center;
    color: #e0e4ef;
    border-collapse: collapse;
    width: 85%;
    margin: 0 auto;
    font-size: 1.25em;
}

th {
    background-color: #2e2e2e;
    text-align: center;
    color: inherit;
    height: 3em;
    border-bottom: 1px #e0e4ef solid;
    padding-top: 10px;
}

td {
    background-color: #1c1c1c;
    text-align: center;
    color: inherit;
    height: 3.75em;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.choose {
    background-color: #2e2e2e;
    align-content: center;
    margin: auto;
    width: 85%;
    height: 2em;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.room-name {
    background-color: #2e2e2e;
    border: 1px solid #e0e4ef;
    border-radius: 15px;
    position: absolute;
    left: 10%;
    top: 4%;
    text-align: center;
    font-size: 1em;
    color: #e0e4ef;
    padding: 2px;
}

/* FIN DE ESTILO DE TABLAS */

/* ESTILO DE BOTON REGRESAR */

.button-back {
    width: 45px;
    height: 45px;
    position: relative;
    border-radius: 50px;
    top: 10%;
}

/* FIN DE ESTILO DE BOTON REGRESAR */

/* BARRA DE HOME Y ENTRAR A UNA NUEVA MESA*/

button {
    display: inline-block;
    text-align: center;
    padding: 0.875em 1em;
    color: #e0e4ef;
    background-color: #184ad4;
    border-radius: 10px;
}


/* POSICON DEL FOOTER */

footer {
    position: absolute;
    top: 90%;
}

/* FIN DEL FOOTER */