body {
    background: url(../img/bg.jpg) no-repeat center top;
    background-size: cover;
}

.header {
    height: 20vh;
    display: flex;
    position: relative;
    align-items: center;
}

.back-btn {
    height: 50px;
    width: 50px;
    border: 1px solid #2e2e2e;
    border-radius: 150px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #e0e4ef;
}

.img-btn {
    height: 50px;
    width: 50px;
}

#main-section {
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 10% 0;
}

.message {
    background-color: #424242;
    height: 140px;
    width: 800px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.message .main-text {
    color: #e0e4ef;
    text-align: center;
    letter-spacing: 2px;
}

.message .enjoy-game {
    padding-bottom: 10px;
    font-size: 3em;
    text-align: center;
    text-align: center;
}

.link {
    height: 170px;
    width: 800px;
    display: flex;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    background-color: #2e2e2e;
}

.join-txt {
    position: relative;
    top: 30%;
    left: 10%;
    height: 30px;
    width: 490px;
    padding: 10px;
    color: #424242;
    background-color: #e0e4ef;
    font-size: 1.5em;
}

.main-btn {
    height: 54px;
    width: 85px;
    background-color: #184ad4;
    color: #e0e4ef;
    border-radius: 5px;
    border: 1px solid #e0e4ef;
}

.join-btn {
    position: relative;
    top: 30%;
    left: 15%;
}

/* FOOTER */

.footer {
    height: 20vh;
    display: flex;
    position: relative;
}

.logos {
    align-content: flex-start;
    height: 60px;
    width: 60px;
}